<h2>Follow Users</h2>


  <div class="col-xs-12">

    <!--users一覧 -->
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
          <td><%= user.name%></td>

          <!-- フォロー機能 -->
          <td>フォロー数：
            <a href="<%= following_user_path(user) %>">
              <%= user.followings.count %></a>
            </td>

            <td>フォロワー数：
            <a href="<%= followers_user_path(user) %>">
              <%= user.followers.count %></a>
            </td>

            <td>
              <% unless current_user == user %>
              <% if current_user.following?(user) %>
              <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
              <%= hidden_field_tag :follow_id, user.id %>
              <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
              <% end %>
              <% else %>
              <%= form_for(current_user.relationships.build) do |f| %>
              <%= hidden_field_tag :follow_id, user.id %>
              <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
              <% end %>
              <% end %>
              <% end %>
            </td>
            <!-- フォロー機能 -->

            <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
