
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book_new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
			<tr>
				<td>
					<%= link_to (@user) do %>
					<%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
					<%= @book.user.name %>
					<% end %>
				</td>
				<td><%= link_to @book.title, @book %></td>
				<td><%= @book.body %></td>
				<% if @user == current_user %>
				<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
				<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
				<% end %>
					<!-- いいね機能（非同期） -->
					<td id="favorites_buttons_<%= @book.id %>">
						<%= render partial: 'favorites/favorite', locals: { book: @book} %>
					</td>
					<!-- いいね機能（非同期） -->
				<td>コメント数：
					<a href="#comments"><%= @book.book_comments.count %></a>
				</td>
			</tr>
		</table>
	</div>

	<!-- コメント機能 -->
	<div class = "col-xs-9">
		<h2>Comments</h2>
		<table class = "table">
			<tbody>
				<% @book.book_comments.each do |book_comment| %>
				<tr>
					<td>
						<%= link_to user_path(book_comment.user.id) do %>
						<%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg", size: '50x50' %></td>
						<% end %>
						<td><%= book_comment.comment %></td>
						<% if book_comment.user == current_user %>
						<td>
							<a class="btn btn-danger btn-sm" rel="nofollow" data-method="delete" href="/books/<%=@book.id %>/book_comments/<%= book_comment.id %>">Destroy</a>
						</td>
						<% end %>
						<td colspan ="3" ></td>
						<% end %>
					</tr>
				</tbody>
			</table>
			<%= form_for [@book, @book_comment] do |f| %>
			<%= f.text_area :comment, row:'5', class: "form-control", placeholder: "コメントはここに" %>
			<div class = "float-xs-right" >
				<%= f.submit 'Create comment', name:"comment", class: "btn-btn-primary col-xs-3" %>
			</div>
			<% end %>

		</div>
	</div>

